/* Navbar.css */

.navbar-transition-enter {
    opacity: 0;
    transform: translateY(-100%);
  }
  
  .navbar-transition-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 500ms, transform 500ms;
  }
  
  .navbar-transition-exit {
    opacity: 1;
    transform: translateY(0);
  }
  
  .navbar-transition-exit-active {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 500ms, transform 500ms;
  }
  
  /* Add any other styles you need for your navbar here */
  